{% extends base_layout %}

{% block header_title_lead %}{% endblock %}
{% block mediaCSS %}
    <link href="/{{ theme }}/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/{{ theme }}/css/dataTables.jqueryui.css" rel="stylesheet">
{% endblock %}

{% block content %}

    {% if user_id %}
    <div class="site_page">
        <h2>
            Listing for {{ target_user.get_full_name() }}
        </h2>
        <p>
        <div>
          <table class="share_detail">
	    <tbody>
	      <tr><td class="share_detail_col1">City/state</td><td>{{ target_user.get_city_state() }}</td></tr>
	      <tr><td class="share_detail_col1">Departing for Surrender</td><td>{{ target_user.format_inbound_departure_dt() }}</td></tr>
	      <tr><td class="share_detail_col1">Arriving at Surrender</td><td>{{ target_user.format_inbound_arrival_dt() }}</td></tr>
	      <tr><td class="share_detail_col1">Departing from Surrender</td><td>{{ target_user.format_outbound_departure_dt() }}</td></tr>
	      <tr><td class="share_detail_col1">Arriving home</td><td>{{ target_user.format_outbound_arrival_dt() }}</td></tr>
	      <tr><td class="share_detail_col1">Offers</td><td>{{ target_user.offers }}</td></tr>
	      <tr><td class="share_detail_col1">Offers granted/accepted?</td><td>{{ "Yes" if target_user.offers_taken else "No" }}</td></tr>
	      <tr><td class="share_detail_col1">Needs</td><td>{{ target_user.needs }}</td></tr>
	      <tr><td class="share_detail_col1">Needs met?</td><td>{{ "Yes" if target_user.needs_met else "No" }}</td></tr>
	      <tr><td class="share_detail_col1">Notes</td><td>{{ target_user.notes }}</td></tr>
            </tbody>
          </table>
	</div>
        </p>
	<p style="margin-left: auto; margin-right: auto;">
	<button id="btn_contactUser" onclick="open_message_form('{{ target_user.get_full_name() }}', '{{target_user.key.id()}}');">Contact this user</button>
	</p>
    </div>
    
    <div id="dialog-form" title="Send message">
      <p class="validateTips">Sent messages will contain your email address.</p>
 
        <form id="message_form">
          <fieldset>
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" class="text ui-widget-content dialog-text ui-corner-all">
            <label for="message">Message</label>
            <input type="text" name="message" id="message" value="" class="text ui-widget-content dialog-text ui-corner-all">
            <input type="hidden" name="dest_name" id="dest_name" value="">
            <input type="hidden" name="dest_id" id="dest_id" value="">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          </fieldset>
        </form>
      </div>

    {% endif %}

{% endblock %}

{% block mediaJS %}
    <script>
        $().ready(function() {
            var subject = $('#subject'),
                message = $('#message'),
                allFields = $( [] ).add( subject ).add( message ),
                tips = $( ".validateTips" );

            $("#btn_contactUser").button();

            function updateTips( t ) {
              tips
                .text( t )
                .addClass( "ui-state-highlight" );
              setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
              }, 500 );
            }

            function checkLength( o, n, min, max ) {
              if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Length of " + n + " must be between " +
                  min + " and " + max + "." );
                return false;
              } else {
                return true;
              }
            }

            function send_message() {
                $.ajax({type:"POST",
                        url: "/message/send",
                        data: $("#message_form").serialize(),
                        success: function(response, textStatus, jqXHR) {$("#dialog-form").dialog("close");},
                        error: function(xhr, textStatus, errorThrown) {
                           updateTips("Could not send the message. Try again in a moment.");
                        },
                       });
            }
      
            $( "#dialog-form" ).dialog({
              autoOpen: false,
              height: 320,
              width: 350,
              modal: true,
              buttons: {
                "Send message": function() {
                  var bValid = true;
                  allFields.removeClass( "ui-state-error" );
 
                  bValid = bValid && checkLength( subject, "subject", 1, 80 );
                  bValid = bValid && checkLength( message, "message", 1, 1024 );

                  if (bValid) {
                      send_message();
                  }
                },
                "Cancel": function() {
                   $( this ).dialog( "close" );
                }
              },
              close: function() {
                allFields.val( "" ).removeClass( "ui-state-error" );
              }
            }); <!-- dialog -->

        }); <!-- $().ready() -->

        function open_message_form(user_name, user_key) {
            $( ".validateTips" ).text("All form fields are required. Messages will contain your email address.");
            $( "#dest_name" ).val(user_name);
            $( "#dest_id" ).val(user_key);
            $( "#dialog-form" ).attr("title", "Send message to "+user_name);
            $( "#dialog-form" ).dialog( "open" );
        }
    </script>
{% endblock %}
